.page.theme_dark {
    --background-image: url("../images/cover-image-dark.png");
    --background-color: #000028;
    --paragraph-color: #f1b2ce;
    --main-header-color: #db00ff;
    --title-color: #ff0070;
    --title-shadow-color: #ff0070;
    --title-bg-color: #ff0070;
    --subtitle-color: #000028;
    --link-shadow-color: #ff0070;
    --decoration-elem-color: #ff0070;
    --btn-hover-border-color: rgba(255, 0, 112, 0.4);
    --btn-active-focus-border-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-image: url("../images/cover-image-dark.png");
        --background-color: #000028;
        --paragraph-color: #f1b2ce;
        --main-header-color: #db00ff;
        --title-color: #ff0070;
        --title-bg-color: #ff0070;
        --subtitle-color: #000028;
        --link-shadow-color: #ff0070;
        --decoration-elem-color: #ff0070;
        --btn-hover-border-color: rgba(255, 0, 112, 0.4);
        --btn-active-focus-border-color: #ff0070;
    }
}