.page {
    font-family: var(--font-family);
    color: var(--paragraph-color);
    background-image: var(--background-image);
    background-color: var(--background-color);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 10px;

    @media (min-width: 768px) {
        padding: 0 20px;
    }
}

.main {
    display: grid;
    gap: 50px;
    padding: 40px 0;

    @media (min-width: 768px) {
        gap: 80px;
    }

    @media (min-width: 1024px) {
        padding: 60px 0;
    }
}

/*styles for header*/

.header {
    display: grid;
    grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
    align-items: center;
    padding: 10px 0;
    height: 100vh;
    min-height: 668px;
    
    @media (min-width: 768px) {
        padding: 20px 0;
        grid-template-columns: 1fr 1fr;
    }
}

.decorated-zone {
    position: relative;
    color: var(--title-color);
}

.decorated-zone::before,
.decorated-zone::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
}

.decorated-zone::before {
    border-right: 1px solid currentColor;
    border-top: 1px solid currentColor;
    right: 0;
    top: 10px;
}

.decorated-zone::after {
    border-left: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    left: 0;
    bottom: 10px;
}

@media (min-width: 768px) {
    .decorated-zone::before {
        top: 20px;
    }

    .decorated-zone::after {
        bottom: 20px;
    }
}

.header__theme-menu {
    justify-self: end;

    @media (min-width: 768px) {
        grid-column: span 2;
    }

    @media (min-width: 1024px) {
        justify-self: center;
        align-self: start;
    }
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
    }
}

.header__theme-menu-button {
    color: var(--title-color);
    font-size: 18px;
    min-width: 70px;
    padding: 2px 13px 4px;
    border: 1px solid transparent;
    line-height: 100%;
    text-transform: lowercase;
    background: transparent;
    cursor: pointer;

    &:hover {
        border: 1px solid currentColor;
    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        border-block-end: 1px solid currentColor;
        outline: none;
    }
}

.header__theme-menu-button_active {
    border: 1px solid currentColor;
    pointer-events: none;
}

.header__title {
    color: var(--main-header-color);
    font-size: var(--logo-font-size);
    font-weight: 700;
    line-height: 82.5%;
    text-shadow: 4px 4px 0 var(--title-shadow-color);

    @media (min-width: 768px) {
        margin-left: -20px;
        grid-column: span 2;
        font-size: var(--logo-font-size);
    }
}

.header__wrapper {
    @media (min-width: 768px) {
        grid-column-end: -1;
    }
}

.header__text {
    font-weight: 700;
    background-color: var(--title-bg-color);
    color: var(--subtitle-color);
}

.header__logo {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 18px;
    color: var(--title-color);
    line-height: 139%;
    text-transform: uppercase;
    right: 10px;
    top: 10px;

    &:after {
        content: "";
        display: block;
        border-radius: 50%;
        box-shadow: 0 0 4px 2px currentColor;
        background-color: currentColor;
        width: 10px;
        height: 10px;
    }

    @media (min-width: 768px) {
        top: 20px;
    }
}

/*styles for section*/

.section {
    display: grid;
    gap: 20px;

    @media (min-width: 768px) {
        display: flex;
        gap: 20px;
    }
}

.section__another-style {
    @media (min-width: 768px) {
        flex-direction: column;
    }
}

.section__pic {
    margin-block-end: 0;

    @media (min-width: 768px) {
        display: block;
    }
}

.section__title {
    color: var(--title-color);
    font-size: var(--font-size);
    font-style: normal;
    font-weight: 700;
    line-height: 130%;

    @media (min-width: 768px) {
        flex: 0 0 auto;
        width: 236px;
    }

    @media (min-width: 1024px) {
        width: 315px;
    }
}

.section__wrapper {
    display: grid;
    gap: 20px;
}

.article__wrapper {
    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

.section__article {
    display: grid;
    gap: 20px;

    @media (min-width: 768px) {
        gap: 10px;
    }
}

.section__article-another-style {
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;
    }
}

.title__column {
    @media (min-width: 768px) {
        margin-block-end: unset;
    }

    @media (min-width: 1024px) {
        margin-block-end: 0;
    }
}

.section__pic-subtitle {
    @media (min-width: 768px) {
        margin-block-end: 20px;
    }
}

.section__text {
    font-size: var(--font-size);
    line-height: 130%;
}

.section__link {
    text-shadow: 2px 2px 0 var(--link-shadow-color);

    &:hover {
        border-bottom: 1px solid currentColor;
    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        border: 1px solid currentColor;
    }
}

.section__pictures-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width: 768px) {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 192px 230px 318px;
        grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
    }

    @media (min-width: 1024px) {
        gap: 23px;
        grid-template-rows: 260px 315px 428px;
    }
}

@media (min-width: 768px) {
    .sunset {
        grid-area: sunset;
    }

    .ice-cream {
        grid-area: ice-cream;
    }

    .street {
        grid-area: street ;
    }

    .books {
        grid-area: books ;
    }

    .tape {
        grid-area: tape ;
    }
}

/*styles for footer*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 668px;
    position: relative;
    padding: 10px 0;

    @media (min-width: 768px) {
        padding: 20px 0;
    }
}

.footer__title {
    color: var(--main-header-color);
    font-size: var(--logo-font-size);
    text-shadow: 2px 2px 0 var(--link-shadow-color);
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%;

    @media (min-width: 768px) {
        font-size: var(--logo-font-size);
    }
}

/*styles for text*/

.text-bold {
    background-color: var(--title-bg-color);
    color: var(--subtitle-color);
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.text-thin {
    background-color: var(--title-bg-color);
    color: var(--subtitle-color);
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
