:root {
    --font-family: "IBM Plex mono", sans-serif;
    --font-size: 18px;
    --background-color: #000028;
    --paragraph-color: #f1b2ce;
    --main-header-color: #db00ff;
    --title-color: #ff0070;
    --subtitle-color: #000028;
    --title-bg-color: #ff0070;
    --btn-hover-border-color: rgba(255, 0, 112, 0.4);
    --btn-activ-focus-border-color: #ff0070;
}